# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform/profile.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local env files
.env
*.pem

# Local challenge prompt
assessment.md
